.addTitlesContainer {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 80vw;
  padding-top: 2vh;
  /*   border: 1px solid black;
} */
}

.listTitles {

  width: 60vw;
  min-height: 30vw;

  >ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }

  >ul li {
    font-size: 2vw;

  }

  >ul li i {
    font-size: 1vw;
  }


}

.listTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid black;

}

.titlesList{
/* Ajusta el tamaño de cada elemento según sea necesario */
  text-align: justify;
}
