.captureHrs {
    display: flex;
    justify-content: space-around;

    align-items: center;
    background-color: white;
    flex-direction: row;
    min-height: 70vh;
    border: 1px solid black;

}

@media (max-width: 736px) {
    .captureHrs {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.timePikers {
    padding: 1rem;
}

.datapicker {


    /* border: 1px solid rgb(240, 7, 7); */
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 25rem;
    align-items: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    opacity: .9;
    margin: 20px;
    border-radius: 15px;
}



.blue {
    background: linear-gradient(45deg, #008dad, #3b69a9,rgb(175, 175, 173),rgb(12, 12, 12));
    background-size: 200% auto;
    animation: moverFondo 5s infinite linear alternate;
}


.black {
    background: linear-gradient(to right, black, white);
    background-size: 200% auto;
    animation: moverFondo 5s infinite linear alternate;
}
@keyframes moverFondo {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

/* @media (max-width: 736px) {
    .datapicker {
        width: 70vw;
        font-size: 6vw;

    }
   
} */

/*   @media (max-width: 400px) {
    .datapicker {
 
    width: 50vh;
   
    }
  } */

.captureh2 {
    display: flex;
    justify-content: center;
    padding: 4vh;

}


.exceded {
    color: white;
    font-size: 1rem;
    background-color: red;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exceded span {
    display: block;
}

.inputNumber {
    width: 4rem;
    height: 4rem;
    font-size: 20px;
    text-align: center;
    display: block;
    background-color: black;
    color: greenyellow;
    font-weight: 900;

}

.spanInput {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

}



.range {
    width: 100%;
}

.datetime {
    display: flex;
    flex-direction: column;
    /*  border: 10px solid yellow; */
    gap: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    width: 100%;


}

.ran text {
    width: 40vw;
}

.gridTitles {

    display: grid;
    grid-template-areas: "a a"
        "b c";

    grid-template-rows: 1fr auto auto;

    margin-top: 15px;

}

.gridTitles div {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;


}

.gridTitles div:nth-child(1) {
    grid-area: a;

    text-align: center;


}

.gridTitles div:nth-child(2) {
    grid-area: b;

    >p span {
        display: block;
    }

}

.displayblock {
    display: block;
}

.gridTitles div:nth-child(3) {
    grid-area: c;

    >p span {
        display: block;
    }
}



.tittleCaptureHors {
    font-size: 2rem;
    color: white
}

.captureResult {
    font-size: 30px;
    color: white;
    border: 6px solid black;
    margin-top: 1.5rem;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.react-time-picker__button {}


.on {
    background-color: #007294;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/*    .on :hover{
   
    } */

.off {
    background-color: red;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 736px) {
    .inputNumber {

        width: 20vw;
    }
}

.capturateTime {
    display: flex;
    font-size: 1.5rem;
    gap: 1.3rem;
    padding: 10px;
}