
.containerDash {
   
    
    background-color: white;
    min-height: 60vh;
    display: flex;
    transition: margin-left 0.5s;

   
    >div:nth-child(1) {
        border: 1px solid black;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        position: relative;
       background-color: #333333;
        color: #ffffff;
        font-size: 18px;

        >div {
            background-color: #333333;
            font-size: 18px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
        }

        >div:hover {
        
            cursor: pointer;
        }
    }

    >div:nth-child(2) {
        border: 1px solid black;
        width:auto;
        flex: 7;
       >div:nth-child(1){
        background-color: #333333;
        font-size: 25px;
        color: #ffffff;
        padding: 10px;
       }
       
    }
}



.icono_dash {
    position: absolute;
    right: 10px;
}


  
  .showSidebar {
    margin-left: 0;
  }
  
  .hideSidebar {
    margin-left: -120px; 
    border: none;

    
  }
  
.icona{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}
.otherDash {
 
    position: absolute;
    left: 100%; 
    bottom: 0;
    background:#333333;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 1; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 110px;
    padding: 0;
    margin: 0;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.posi{
    position: relative;

}
.modalDash {
   
    
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 16px;
    text-align: center;
  }
  .modalDash:hover{
    
     border: 1px solid var(--color-jae);

  }
 
.modali{

   text-align: center;   
   border: 1px solid var(--color-jae);
}
  .modalDash:hover .modal {
    display: block;
   
  }
  .borderDashOn{
    border: 1px solid white;
  }