
.containerDash {
   
    
    background-color: white;
    min-height: 60vh;
    display: flex;
    transition: margin-left 0.5s;

   
    >div:nth-child(1) {
        border: 1px solid black;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        position: relative;
       background-color: #333333;
        color: #ffffff;
        font-size: 18px;

        >div {
            background-color: #333333;
            font-size: 18px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
        }

        >div:hover {
            border: 1px solid red;
            cursor: pointer;
        }
    }

    >div:nth-child(2) {
        border: 1px solid black;
        width:auto;
        flex: 7;
       >div:nth-child(1){
        background-color: #333333;
        font-size: 25px;
        color: #ffffff;
        padding: 10px;
       }
       
    }
}



.icono_dash {
    position: absolute;
    right: 10px;
}


  
  .showSidebar {
    margin-left: 0;
  }
  
  .hideSidebar {
    margin-left: -150px; 
  }
  
