

.captureIndex{
    background-color: white;
 }
.captureBotton{
    display: flex;
    justify-content: center;
} 
.dateTimePicker{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    font-size: 1.4rem;
    color: white;
   gap: 10px;
   color: whi;
   padding: 10px;
}