.typeTicketMenu {
    background-color: black;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.typeLabelMenuTittle {
    font-size: 2rem;
    color: white;


}

.labelMenuButton {
    border-radius: 10px;
    font-size: 1.2rem;
    gap: 15%;
    background-color: transparent;
    color: var(--color-jae);
    font-weight: 500;
    border: 3px solid var(--color-jae);
    cursor: pointer;

    &.labelMenuButton:hover {
        background-color: white;
        color: black;
    }
}

.label2menu {
    display: flex;


}

.onnMenuTicket {
    background: black;
    color: white;
    border: 2px double rgb(253, 246, 246);
}

.classQR{
    width: 40px;
    height: 40px;
}