.ex{
    fill: black;
    font-size: 5px;
    font-family: Arial;
    letter-spacing: .3px;
}

.ex2{
    fill: black;
    font-size: 5px;
    font-family: Arial;
    letter-spacing: .3px;
}

.exa{
    font-size: 5px;
    letter-spacing: .3px;
    font-weight: 700;
}