.goodTitle{
    fill: black;
    font-size: 5.5px;
    font-family: Arial;
    letter-spacing: .3px;
    
}

.goodTitle2{
    fill: black;
    font-size: 4.5px;
    font-family: Arial;
    letter-spacing: .3px;
  
}

.goodTitle3{
    fill: black;
    font-size: 3.5px;
    font-family: Arial;
    letter-spacing: .3px;
   
}
.goodTitle4{
    fill: black;
    font-size: 3px;
    font-family: Arial;
    letter-spacing: .3px;
    font-weight: 600;
   
}