
svg {
    overflow: hidden;
  }
.title1{

    font-size: 2px;
    letter-spacing: .1px;
    font-weight: 900;
}
.title2{
    font-size: 3px;
    letter-spacing: .1px;
    font-weight: 700;
}

.zinde{
    z-index: 9999;
}
.zinde2{
    z-index: 1;
}
.title3{
    font-size: 2px;
    letter-spacing: .1px;
    font-weight: 700;
}

.title4{
    font-size: 4px;
    letter-spacing: .4px;
    font-weight: 700;
}

.title5Barcode{
    font-size: 4px;
    letter-spacing: .4px;
    font-weight: 700;
    

}

.titleg1{
 
        font-size: 3.5px;
        letter-spacing: .2px;
        font-weight: 800;
        
    
    }

    .titleg2{
        font-size: 3px;
        letter-spacing: .1px;
        font-weight: 800;
    }

    .barCode{
      max-width: 20%;
      max-width:  20%;
      background-color: aqua;
    }


    .barcoceGood{
       overflow: visible;
    }