.lcOne{

    font-size: 6px;
    letter-spacing: .1px;
    font-weight: 500;
}

.icTwo{
    font-size: 4px;
    letter-spacing: .1px;
    font-weight: 400;
}

.icTwoo{
    font-size: 4px;
    letter-spacing: .1px;
    font-weight: 600;
}

.icTr{
    font-size: 3.5px;
    letter-spacing: .1px;
    font-weight: 400;
}